@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
 
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply bg-background text-foreground;
  }

  .dark {
    background-color: #1a202c;
    color: #f7fafc;
  }

  .starter {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: slideIn 1.5s ease-in-out forwards 4s, fadeOut 0.5s ease forwards 5.5s; */
  }

#logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: fill 0.5s ease forwards 3s;
}

#logo path:nth-child(1){
  stroke-dasharray: 624.27392578125;
  stroke-dashoffset: 624.27392578125;
  animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(2){
  stroke-dasharray: 321.152587890625;
  stroke-dashoffset: 321.152587890625;
  animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(3){
  stroke-dasharray: 265.5911560058594;
  stroke-dashoffset: 265.5911560058594;
  animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4){
  stroke-dasharray: 196.62892150878906;
  stroke-dashoffset: 196.62892150878906;
  animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(5){
  stroke-dasharray: 865.7503662109375;
  stroke-dashoffset: 865.7503662109375;
  animation: line-anim 2s ease forwards;
}

@keyframes line-anim {
  to {
      stroke-dashoffset: 0;
  }
}

/* @keyframes fill{
  from{
      fill: transparent;
  }
  to{
      fill: #ffffff;
  }
} */

@keyframes slideIn {
  from {
    transform: translateY(100vh);
  }
  to {
    transform: translateY(0vh);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden; /* Ensures starter page is not visible after animation */
  }
}

  .website-bg-static::before {
    content: '';
    background-image: url("/images/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top left;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
}